<h4 class="sub-headline">Create a Topic</h4>
<%= handle_message %>

<form action="/topic/create" method="post">

  <div class="row">
    <div class="five columns">
      <input required class="u-full-width text-input" type="text" name="topic_name" placeholder="Topic Name">
    </div>
  </div>

  <div class="row">
    <div class="five columns">
      <input required class="u-full-width text-input" type="text" name="categories" placeholder="categories">
  </div>
</div>

  <div class="row">
    <div class="five columns">
      <input class="u-full-width text-input" id="deadline-input" disabled=true
             type="datetime-local" name="deadline" placeholder="Deadline">
    </div>
      <div class="checkbox-and-label-wrapper thin">
        <input type="checkbox" name="enable_deadline" class="enable-field-checkbox">
        <label class="label-small" for="enable_deadline">Enable Deadline</label>
      </div>
  </div>

  <button class="button-primary" type="submit">create</button>
</form>
