<h3 class="sub-headline">Create a Hoonta</h3>

<%= handle_message %>

<form action="/hoonta/create" method="post">

  <div class="row">
    <div class="five columns">
      <input required class="u-full-width text-input" type="text" name="hoonta_name" placeholder="Hoonta name">
    </div>
  </div>

  <div class="row">
    <div class="five columns">
      <input class="u-full-width text-input" id="password-input" disabled=true
             type="text" name="hoonta_password" placeholder="password">
    </div>
      <div class="checkbox-and-label-wrapper thin">
        <input type="checkbox" name="enable_password" class="enable-field-checkbox">
        <label class="label-small" for="enable_password">Enable password</label>
      </div>
  </div>

  <button class="button-primary" type="submit">create</button>
</form>
