<div class="previous-page">
  <a href="/hoonta/home/<%= @hoonta.id %>" class="previous-page-link"><%= @hoonta.hoonta_name %></a>
</div>

<h4 class="sub-headline">create a topic</h4>
<%= handle_message %>

<form action="/topic/create/<%= @hoonta.id %>" method="post">

  <div class="row">
    <div class="five columns">
      <input required class="u-full-width text-input" type="text"
             name="topic_name" placeholder="Topic Name">
    </div>
  </div>

  <div class="row">
    <div class="five columns">
      <input class="u-full-width text-input" disabled=true
             type="datetime-local" name="deadline" placeholder="Deadline">
    </div>
      <div class="checkbox-and-label-wrapper thin">
        <input type="checkbox" name="enable_deadline" class="enable-field-checkbox">
        <label class="label-small" for="enable_deadline">Enable Deadline</label>
      </div>
  </div>

  <button class="button-primary" type="submit">create</button>
</form>
