<h4 class="sub-headline">Find Results</h4>
<%= handle_message %>

<form action="/hoonta/join_hoonta" method="post">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Hounta Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        <input class="button-primary" type="button" value="JOIN">
      </td>
    </tr>
  </tbody>
</table>
</form>
s
