<h4 class="sub-headline">your hoontas</h4>

<% @rosters = Roster.where(user_id: current_user.id) %>

<% if not @rosters.empty? %>


  <div class="row">
    <% if @rosters.kind_of?(Roster) %>

      <% hoonta = Hoonta.find(@rosters.hoonta_id) %>

      <form action="/hoonta/all" method="post">
        <div class="four columns u-full-width">
          <input hidden type="text" name="id" value="<%=hoonta.id%>">
          <button class="hoonta-button" type="submit"><%=hoonta.hoonta_hame%></button>
        </div>
      form>

    <% else %>
      <% @rosters.each do |roster| %>
        <% hoonta = Hoonta.find(roster.hoonta_id) %>

        <form action="/hoonta/all" method="post">
          <div class="three columns u-full-width hoonta-button" onclick="javascript:this.parentNode.submit()">
            <input hidden type="text" name="id" value="<%=hoonta.id%>">
            <%= hoonta.hoonta_name %>
          </div>
        </form>

      <% end %>
    <% end %>
  </div>


<% else %>
  <h5>You don't belong to a hoonta!</h5>
  <a href="/hoonta/create">Create</a> or <a href="/hoonta/join_hoonta">join</a> one to get started.
<% end %>
