<h4 class="sub-headline">Hoonta Name here</h4>
<%= handle_message %>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Categories</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Topic name
      </td>
      <td>
        Categories
      </td>
      <td>
        Deadline
      </td>
      <td>
        GO
      </td>
    </tr>
  </tbody>
</table>

Button to create topic

<h5>Members</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Member Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Member Name
      </td>
      <td>
        Remove
      </td>
    </tr>
  </tbody>
</table>
