<h4 class="sub-headline">Make a decision, together.</h4>
<%= handle_message %>
<% @hoonta_ids = load_hoonta_ids %>

<% @hoonta_ids.each do |id| %>
  <% if id %>
    <% hoonta = Hoonta.find(id) %>
    <h5><%= hoonta.hoonta_name if hoonta %></h5>
  <% end %>
<% end %>
