<h4 class="sub-headline">Make a decision, together.</h4>
<%= handle_message %>
<% @hoonta_ids = Roster.find_by(user_id: current_user.id) %>

<% @hoonta_ids.each do |id| %>
  <% if id %>
    <% hoonta = Hoonta.find(id) %>
    <h5><%= hoonta.hoonta_name if hoonta %></h5>
  <% end %>
<% end %>
