<h4 class="sub-headline">Your Hoontas</h4>

<% @rosters = Roster.where(user_id: current_user.id) %>

<% if @rosters %>
  <form action="/hoonta/all" method="post">

    <div class="row">
      <% if @rosters.kind_of?(Roster) %>
        <% hoonta = Hoonta.find(@rosters.hoonta_id) %>
        <div class="four columns hoonta-button u-full-width">
          <%= hoonta.hoonta_name %>
        </div>

      <% else %>
        <% @rosters.each do |roster| %>
          <% hoonta = Hoonta.find(roster.hoonta_id) %>
          <div class="four columns hoonta-button u-full-width">
            <input hidden type="text" name="id" value="<%=hoonta.id%>">
            <input type="submit" value="<%= hoonta.hoonta_name %>">
          </div>
        <% end %>
      <% end %>
    </div>
  </form>

<% else %>
  <h5>You don't belong to a hoonta!</h5>
  <a href="/hoonta/create">Create</a> one to get started.
<% end %>
