<h4 class="sub-headline">Hoonta Name here</h4>
<%= handle_message %>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Topics</th>
      <th>Categories</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <form action="/hoonta/topic" method="post">
        <input class="button-primary" type="button" value="GO">
      </td>
    </tr>
  </tbody>
</table>

<div class="">
  <form action="/hoonta/create_topic" method="post">
  <input class="button-primary" type="button" value="Create Topic">
</div>

<h5>Members</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
      <td>
        <input type="button" value="Remove">
      </td>
    </tr>
  </tbody>
</table>

<div class="">
  <form action="/hoonta/home" method="post">
  <input type="button" value="Delete Hoonta">
</div>
