<% @hoonta = get_hoonta %>
<% members = Roster.where(hoonta_id: @hoonta.id) %>
<% if members.kind_of?(Roster) %>
  members = [members]
<% end %>
<h4 class="sub-headline"><%=@hoonta.hoonta_name%></h4>
<%= handle_message %>

<form action="/topic/create" method="post">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Topics</th>
      <th>Categories</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <input class="button-primary" type="button" value="GO">
      </td>
    </tr>
  </tbody>
</table>
</form>

<div class="">
  <form action="/topic/create" method="post">
  <input class="button-primary" type="button" value="Create Topic">
  </form>
</div>

<h5>Members</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
      <td>
        <input type="button" value="Remove">
      </td>
    </tr>
  </tbody>
</table>

<div class="">
  <form action="/hoonta/home" method="post">
  <input type="button" value="Delete Hoonta">
  </form>
</div>
