<h4 class="sub-headline">your hoontas</h4>

<% if not @rosters.empty? %>

  <div class="row">
    <% if @rosters.kind_of?(Roster) %>

      <% hoonta = Hoonta.find(@rosters.hoonta_id) %>

      <a href="/hoonta/home/<%= hoonta.id %>" method="post">
        <div class="three columns u-full-width hoonta-button">
          <%=hoonta.hoonta_hame%>
        </div>
      </a>>

    <% else %>
      <% @rosters.each do |roster| %>
        <% hoonta = Hoonta.find(roster.hoonta_id) %>

        <a href="/hoonta/home/<%= hoonta.id %>">
          <div class="three columns u-full-width hoonta-button">
            <%= hoonta.hoonta_name %>
          </div>
        </a>

      <% end %>
    <% end %>
  </div>


<% else %>
  <h5>You don't belong to a hoonta!</h5>
  <a href="/hoonta/create">Create</a> or <a href="/hoonta/join">Join</a> one to get started.
<% end %>
