<h4 class="sub-headline">join a hoonta</h4>
<%= handle_message %>

<form action="/hoonta/join" method="post">
  <input required type="text" name="hoonta_name" placeholder="name of Hoonta">
  <input type="text" name="password" placeholder="password (optional)">
  <input class="button-primary" type="submit" value="JOIN">
</form>
