<h4 class="sub-headline">join a hoonta</h4>
<%= handle_message %>


<!-- TODO
<h5>Hoonta Invitations</h5>

<form action="/hoonta/home" method="post">
<table class="u-full-width">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        <input class="button-primary" type="button" value="JOIN">
      </td>
    </tr>
  </tbody>
</table>
</form>
-->


<form action="/hoonta/join" method="post">
  <input required type="text" name="hoonta_name" placeholder="name of Hoonta">
  <input type="text" name="password" placeholder="password (optional)">
  <input class="button-primary" type="submit" value="JOIN">
</form>
