<h4 class="sub-headline">JOIN A HOONTA</h4>
<%= handle_message %>

<h5>Hoonta Invitations</h5>

<form action="/hoonta/home" method="post">
<table class="u-full-width">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        <input class="button-primary" type="button" value="JOIN">
      </td>
    </tr>
  </tbody>
</table>
</form>

<h5>Find a Hoonta</h5>
<form action="/hoonta/find_results" method="post">
  <input type="text" name="Hoonta Name" placeholder="name of Hoonta">
  <input class="button-primary" type="button" value="FIND">
</form>
