<html>
  <head>
    <meta charset="utf-8">

    <title>Hoonta</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">

    <!-- JS -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js">
    </script>
    <script src="/app.js"></script>

  </head>


  <body>
    <header>
                                                      <!-- Navigation -->
    <div class="navbar">

      <nav class="container">

        <div class="twelve columns">

          <ul>

            <li><a href="/">home</a></li>

            <!-- Show these two tabs if no one is logged in -->
            <% if session[:current_user] == nil %>
              <li><a href="/login">login</a></li>
              <li><a href="/register">register</a></li>


            <!-- Registered user tabs -->
            <% else %>
              <li><a href="#">hoonta</a>
                <ul>
                  <% if session[:current_user].hoonta_id %>
                  <li><a href="/hoonta/home">my hoonta</a></li>
                  <% end %>
                  <li><a href="/hoonta/join">join</a></li>
                  <li><a href="/hoonta/create">create</a></li>
                </ul>
              </li>


              <li><a href="/logout">logout</a></li>
            <% end %>

          </ul>

        </div>

      </nav>

    </div>

    <div class="container">
      <div class="row">
        <a class="headline" href="/">Hoonta!</a>
      </div>
    </div>
  </header>
                                                      <!-- Ruby Yield -->
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <!-- Ruby -->
            <%= yield %>
            <!-- End Ruby -->
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
