<html>
  <head>
    <meta charset="utf-8">

    <title>Hoonta</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

    <!-- JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js">
    </script>
    <script src="/app.js"></script>

  </head>


  <body>
    <header>  <!-- Navigation -->

      <div class="navbar">

        <nav class="container">

          <div class="twelve columns">

            <ul>
              <!-- Show these two tabs if no one is logged in -->
              <% if session[:current_user] == nil %>
                <li><a href="/welcome">welcome</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>


              <!-- Registered user tabs -->
              <% else %>
                <li><a href="/home">home</a></li>

                <li><a href="#">hoonta</a>
                  <ul>
                    <li><a href="/hoonta/all">all</a></li>
                    <li><a href="/hoonta/join">join</a></li>
                    <li><a href="/hoonta/create">create</a></li>
                  </ul>
                </li>

                <li><a href="/logout">logout</a></li>
              <% end %>

            </ul>

          </div>

        </nav>

      </div>

      <div class="container">
        <div class="row">

          <!-- Hoonta at the top -->
          <div class="six columns thin">
            <a class="headline" href="/">Hoonta</a>
          </div>

          <!-- Make a decision, together. -->
          <div class="six columns thin">
            <h5 class="slogan">Make a decision, together.</h5>
          </div>

        </div>
      </div>

    </header>
                                                      <!-- Ruby Yield -->
    <div class="container">

      <!-- Ruby -->
      <%= yield %>
      <!-- End Ruby -->

    </div>
    <% if session[:current_user] != nil %>
      <footer>
        <div class="row">
          <ul>

            <li>
              <a href="/welcome">About</a>
            </li>

          </ul>
        </div>
      </footer>
    <% end %>

  </body>
</html>
