<h3 class="sub-headline">register</h3>

<%= handle_message %>

  <form action="/register" method="post">

    <div class="row">
      <div class="four columns">
        <input required class="u-full-width text-input" type="text" name="user[user_name]" placeholder='username'>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <input required class="u-full-width text-input" type="password" name="user[password]" placeholder="password">
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <input required class="u-full-width text-input" type="password" name="confirm_password" placeholder="confirm password">
      </div>
    </div>

    <input class="button-primary" type="submit" value="register">
  </form>
