<h4 class="sub-headline">Cast a Vote</h4>
<%= handle_message %>

<h3>Topic Name Here</h3>

<form action="/topic/vote_topic" method="post">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Idea</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>
        <input class="button-primary" type="button" value="Let's do it!">
      </td>
    </tr>
  </tbody>
</table>
</form>
