<% @topic = Topic.find(session[:topic]) %>
<% @hoonta = Hoonta.find(session[:hoonta]) %>
<div class="previous-page">
  <a href="/hoonta/home" class="previous-page-link"> <%= "#{@hoonta.hoonta_name}" %></a>
</div>

<h4 class="flat-sub-headline"><%= @topic.topic_name %></h4>
<%= handle_message %>

<% if not @topic.deadline.nil? %>
  <div class="thin row">
    <h6 class="thin">Deadline: <%= @topic.deadline %></h6>
  </div>
<% end %>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Idea</th>
      <th>Deadline</th>
      <th>Number of votes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

<div class="">
  <form action="/hoonta/join_hoonta" method="post">
  <input type="button" value="Delete/End Topic"></form>
</div>
