<h4 class="sub-headline">Topic Name here</h4>
<%= handle_message %>
<h5>Deadline here</h5>

<form action="/topic" method="post">

<table class="u-full-width">
  <thead>
    <tr>
      <th>Idea</th>
      <th>Categories</th>
      <th>Deadline</th>
      <th>Number of votes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

<div class="">
  <form action="/hoonta/join_hoonta" method="post">
  <input type="button" value="Delete/End Topic"></form>
</div>
