<h4 class="sub-headline">Your Account</h4>
<%= handle_message %>

<h5>Huntas needing your input</h5>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Hoonta</th>
      <th>Topic</th>
      <th>Decide</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Hoonta name
      </td>
      <td>
        Topic Name
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>


<h5>All Huntas</h5>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Hoonta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Hoonta Name
      </td>
    </tr>
  </tbody>
</table>
