<h4 class="sub-headline">HOME</h4>
<%= handle_message %>

<h5>Hoontas needing your input</h5>

<div class="row">

  <div class="four columns u-full-width">
    <h5>Hoonta</h5>
  </div>

  <div class="four columns u-full-width">
    <h5>Topic</h5>
  </div>

  <div class="four columns u-full-width">
    <h5>Deadline</h5>
  </div>

</div>
