<h4 class="sub-headline">YOUR ACCOUNT</h4>
<%= handle_message %>

<h5>Huntas needing your input</h5>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Hoonta</th>
      <th>Topic</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <form action="/hoonta/topic" method="post">
        <input class="button-primary" type="button" value="GO">
      </td>
    </tr>
  </tbody>
</table>


<h5>All Huntas</h5>

<table class="u-full-width">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Hoonta Name
      </td>
      <td>
        <form action="/hoonta/home" method="post">
        <input class="button-primary" type="button" value="GO">
      </td>
    </tr>
  </tbody>
</table>
<div class="">
  <input class="button-primary" type="button" value="Create Hoonta">
</div>
