<h4 class="sub-headline">home</h4>
<%= handle_message %>

<h5>you can vote on these topics:</h5>

<div class="row">

  <div class="four columns u-full-width">
    <h5>hoonta</h5>
  </div>

  <div class="four columns u-full-width">
    <h5>topic</h5>
  </div>

  <div class="four columns u-full-width">
    <h5>deadline</h5>
  </div>

</div>
