<h4 class="sub-headline">Welcome!</h4>
<%= handle_message %>
<h5>What is Hoonta?</h5>


  <div class="row">
    <div class="one-third column"><h6>Hoonta is group decision app that allows you to:</h6>
      <ul>
        <li>Suggest, vote and choose ideas in a timely manner</li>
          <li>Maximize your time together in person by making decisions before you meet</li>
          <li>Spend more time DOING instead bickering and squabbling</li>
          <li>Help determine people's likes and dislikes</li>
          <li>Keep a running list of ideas for the future</li>
          And last but not least:
          <li>Eliminate the need for those pesky group texts and emails that NOBODY has time to read!</li>
        </li>
      </ul></div>
    <div class="one-third column"> <h6>What kind of thing could you use Hoonta for?</h6>
      <ul>
        Travel
        <li>Picking a spot your annual family vacation, girls trip or fall getaway</li>
        Home
        <li>Selecting colors or designs for that new bedroom</li>
        Family
        <li>Helping children choose afterschool or school break activities</li>
        <li>Choosing Mom and Dad's 50th anniversary gift</li>
        <li>Planning a weekend with the kids when it's your turn to have them</li>
        Romance
        <li>Finding a movie and new restaurant for date night</li>
        Parties and Functions
        <li>organizing a bachelor party, surprise party or baby shower</li>
        Groups
        <li>Choosing a fundraiser idea</li>
        <li>Choosing books for book club that people really want to read</li>
        Work
        <li>Helping indecisive or choosy clients bite the bullet</li>
        <li>Choosing a restaurant to cater lunch from</li>
      </ul>
      And so much more!</div>
    <div class="one-third column">
    </h6>Who can use Hoonta?</h6>
      <ul>
        <li>Friends, families, siblings, couples</li>
        <li>Clubs and organizations</li>
        <li>Party planners and interior decorators</li>
        <li>Sororities and fraternities</li>
        In other words, everyone!
      </ul></div>
  </div>
