<h3 class="sub-headline">Welcome!</h3>
<%= handle_message %>
<h4>What is Hoonta?</h4>


  <div class="row">
    <div class="three columns"><h5 class='emphasis'>Hoonta is group decision app that allows you to:</h5>
      <ul>
        <li>Suggest, vote and choose ideas in a timely manner</li>
          <li>Maximize your time together by making decisions beforehand</li>
          <li>Spend more time DOING instead bickering and squabbling</li>
          <li>Help determine people's likes and dislikes</li>
          <li>Keep a running list of ideas for the future</li>
          <h6>And last but not least:
          <li>Eliminate the need for those pesky group texts and emails!</li></h6>
      </ul></div>
    <div class="six columns"> <h5 class='emphasis'>How can I use Hoonta?</h5>
      <ul>
        <h6>TRAVEL</h6><li>Pick a spot for your annual family vacation, girls trip or fall getaway</li>
        <h6>HOME</h6>
        <li>Select colors or designs for that new bedroom</li>
        <h6>FAMILY</h6>
        <li>Help your children choose afterschool or school break activities</li>
        <li>Choose Mom and Dad's 50th anniversary gift</li>
        <li>Plan a weekend with the kids when it's your turn to have them</li>
        <h6>ROMANCE</h6>
        <li>Find a movie and new restaurant for date night</li>
        <h6>PARTIES AND FUNCTIONS</h6>
        <li>Organize a bachelor party, surprise party or baby shower</li>
        <h6>GROUPS</h6>
        <li>Choose a fundraiser idea</li>
        <li>Choose a book for book club that people really want to read</li>
        <h6>WORK</h6>
        <li>Help indecisive or choosy clients bite the bullet</li>
        <li>Choose a restaurant to cater lunch from</li>
      </ul>
      <h6>And so much more!</h6></div>
    <div class="three columns">
    <h5 class='emphasis'>Who can use Hoonta?</h5>
      <ul>
        <li>Friends, families, siblings and couples</li>
        <li>Clubs and organizations</li>
        <li>Party planners, decorators and office managers</li>
        <li>Sororities and fraternities</li>
      <h6>In other words, everyone!</h6>
      </ul></div>
  </div>
