/*
Error: Invalid CSS after "...9cc4c198098ea10": expected "{", was "}"
        on line 178 of public/style.scss

173: =======
174: .vote-tally {
175:   // position: absolute;
176:   // right: 0;
177: >>>>>>> b2916d3d9cb3d5c05ea68a56a9cc4c198098ea10
178: }
179: 
180: .user-box {
181:   background: $faded-green;
182:   text-transform: uppercase;
183:   font-weight: bold;

Backtrace:
public/style.scss:178
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:637:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/var/lib/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/var/lib/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/2.1.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...9cc4c198098ea10\": expected \"{\", was \"}\"\A         on line 178 of public/style.scss\A \A 173: =======\A 174: .vote-tally {\A 175:   // position: absolute;\A 176:   // right: 0;\A 177: >>>>>>> b2916d3d9cb3d5c05ea68a56a9cc4c198098ea10\A 178: }\A 179: \A 180: .user-box {\A 181:   background: $faded-green;\A 182:   text-transform: uppercase;\A 183:   font-weight: bold;"; }
