/* Glyph font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff)  format('woff'),
       url(MaterialIcons-Regular.ttf)   format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}




/* Colors */
$pink-white: #E8DFCD;
$blue:   #7ad8f5;
$purple-old:     #BF5059;
$brown:      #8B4F0D;
$white:      #fffcf1;
$cream:      #e5e2d8;
$faded-blue: #00dcee;
$green-old: rgb(48, 164, 0);
$faded-green: #00bf16;
$gray-green: #99dba0;

$error-color: #ff8c66;
$error-border-color: #ff794c;
$success-color: #a288c2;
$success-border-color: #9275b8;

$trash-color: #e97e31;

// Gem color palette
$yellow: #D2DF00;
$sky-blue:   #33c3f0;
$purple:     #643A9A;
$red:      #9C0000;
$green:      #00A513;

html, body {
  background: $white;
}

header {
  background: $red;
  border-bottom: 3px solid $blue;
}

.headline {
  text-decoration: none;
  font-size: 4em;
  color: $white;
}
.headline:hover {
  color: $blue;
}
.slogan {
//  font-weight: bold;
  position: absolute;
  bottom: -1em;
  margin-left: 15px;
  font-size: 1.2em;
  color: $white;
  font-weight: bold;
}
/* sits above a flat-sub-headline */
.previous-page {
  margin: 10px 0 0 -10px;
  padding: 0;
}
.previous-page-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 0.1em;
  color: darkgray;
  font-weight: bold;
}
.previous-page-link:hover {
  color: $gray-green;
}
.flat-sub-headline {
  margin-top: 0px;
  color: $green;
}

/* use when you don't want a previous-page link */
.sub-headline {
  margin-top: 15px;
  color: $green;
  font-weight: bold;
}

.table-label {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 10%;
  color: $green;
}
.table-label:hover {
  color: $blue;
  cursor: pointer;
}
.hoonta-splat {
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgb(186, 186, 186);
  margin-bottom: 30px;
}

.splat-innards {
  margin: 0 7px;}

.row.title {
  font-weight: bold;
  margin-left: 7px;
}


.flat {
  margin-top: 0;
  padding-top: 0;
}

.topic-row {
  margin-left: 10px;
  font-size: 1.1em;
  padding: 7px 7px 2px 7px;
  margin: 5px;
  border-bottom: 2px solid rgba($faded-green, 0.5);
  border-left: 2px solid rgba($faded-green, 0.5);
  border-top: 1px solid rgba($faded-green, 0.5);
  border-right: 1px solid rgba($faded-green, 0.5);
  background: rgba($faded-green, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.topic-row:hover {
  background-color: rgba($faded-green, 0.5);
  border-color: rgba($green, 0.5);
  color: $purple;
  cursor: pointer;
}

.trash {
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  display: inline-block
}
.trash:hover {
  color: $trash-color;
  cursor: pointer;
}

.user-box {
  background: $faded-green;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  text-align: center;
  hyphens: auto;
  min-width: 150px;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  cursor: default;
}

/* Messages */
.message-wrapper {
	padding: 5px;
	text-align: center;
	height: 1.5em;
	margin: 0 10px 10px 10px;
	border-radius: 5px;
}
.message {
	font-weight: bold;
	color: $white;
	margin: 0 auto;
  line-height: 2;
	display:inline-block;
	max-width: 500px;
	font-size: 1em;
}

/* Error message styling */
.error {
  min-width: 200px;
  max-width: 350px;
  height: 25px;
	background: $error-color;
  border: 2px solid $error-border-color;
}
.error i:hover {
  color: rgba(214, 15, 15, 0.86);
}

/* Success message styling */
.success {
  min-width: 200px;
  max-width: 350px;
  height: 25px;
	background: $success-color;
  border: 2px solid $success-border-color;
}
.success i:hover {
  color: rgba(3, 98, 2, 0.82);
}

/* Close button */
.close {
	display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
	float: right;
	margin-right: 7px;
	cursor: pointer;
  padding-bottom: 2px;
}
.close:hover {
  background: rgba(103, 103, 103, 0.3);
  border-radius: 4px;
}

/* Form inputs */
.text-input {
  border: 1px solid $faded-green;
}

.text-input:not(:focus) {
  border: 1px solid $gray-green;
}

input[disabled] {
  background: rgba(#838281, 0.33);
  border-color: rgb(161, 161, 161);
  color: rgb(161, 161, 161);
}

.checkbox-and-label-wrapper {
  max-height: 112px;
}
.enable-field-checkbox {
  display: inline-block;
  float: left;
  margin-top: 1.5rem;
  margin-left: 10px;
}
.label-small {
  font-size: 0.6em;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-left: 4px;

  display: inline-block;
  float: left;
  color: $purple;
}

.thin {
  margin: 0;
  padding: 0;
}
.roomy {
  margin: 10px;
  padding: 10px;
}


/* Hoonta buttons */
.hoonta-button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: $white;
  text-align: center;
  hyphens: auto;
  min-width: 170px;
  margin: 0 12px 12px 0;
  padding: 15px 0;
  border-radius: 4px;
  // border: 1px solid $faded-green;
  // box-sizing: border-box;
  border: none;
  background: $green;
}
.hoonta-button:hover {
  color: $blue;
  cursor: pointer;
}

//$nav-button-color: rgb(227, 227, 226);
$nav-button-color: $red;
$nav-button-hover-color: $blue;
$nav-dropdown-button-color: $red;

// extra menus- purple!

/* Navigation */

.icon-left{
  margin-right: 15px;
  position: relative;
  vertical-align: middle;
}
.icon-right {
  position: relative;
  //padding-bottom: 4px;
  width: 18px;
  //height: 24px;
  vertical-align: middle;
}

nav ul,
nav ul li {
  margin: 0;
  background: $nav-button-color;
}

nav ul li {
	display: inline;
	float: left;
	margin: 0;
	position: relative;
}

/* nav button link */
nav ul li a {
	display: inline-block;
	background: $nav-button-color;
	color: $white;
	margin: 5px 5px 5px 5px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
  letter-spacing: 0.03em;
}
nav ul li a:hover {
//	background: $nav-button-hover-color;
	color: $nav-button-hover-color;
	cursor: pointer;
}
/* Drop-Down */
nav ul ul {
  margin-left: 10px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: opacity 0.4s ease-out;

	position: absolute;
	min-width: 100%;

	height: 0;
	overflow: hidden;

	background: $nav-dropdown-button-color;
	z-index: 100;
	box-shadow: 1px 4px 6px #333333;
}

/* hovering over the drop-down button */
nav ul li:hover ul {
	opacity: 10;
	filter: alpha(opacity=100);
	height: auto;
	overflow: auto;
}

/* list items in the drop-down button */
nav ul ul li {
  background: $nav-dropdown-button-color;
	padding-top: 5px;
	float: none;
	display: list-item;
	list-style: none;
	border-bottom: 1px solid darkgrey;
}

/* no bottom border on last list item */
nav ul ul :last-child {
	border-bottom: none;
}

/* link inside each list item */
nav ul ul li a {
  background: $nav-dropdown-button-color;
	display: block;
	min-width: 84px;
	text-transform: none;
}

/* drop-down button when hovering on link child */
nav ul ul li:hover > a {
//	background: $nav-button-hover-color;
	color: $nav-button-hover-color;
  background: $nav-dropdown-button-color;
}

.welcome {
  background-color: $cream;
  padding: 20px;
  margin: 10px;

}

.emphasis {
  font-weight: bold;
}

.definition {
  text-align: right;
}

.definition-italic {
  text-align: right;
  font-style: italic;
  margin-bottom: 0px;
}

footer {
  position: fixed;
  bottom: 0;
}

footer ul,
footer ul li {
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0;
  position: relative;
}

.footer-link {
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: darkgrey;
}

.footer-link:hover {
  color: black;
}

// @media screen {
//   body {
//     width: 75%;
//   }
// }

// @media print {
//   body {
//     width: 100%;
//   }
// }
